<div>
	<div class="content clearfix">
		<h1>{{t 'settings.about.more.info.message'}}</h1>
		<ul style="font-size: 19px\9;">
			<li>
				<a href="http://www.thermofisher.com/en/contact.html" target="_blank">
					{{t 'settings.aboutPage.helpLink'}}
				</a>
			</li>
			<li><a href="instrument-diagnostics.html">{{t 'settings.aboutPage.diagnostics'}}</a></li>
			<li><a href="eula.html">{{t 'settings.aboutPage.eula'}}</a></li>
			<li>
				<div style="font-size: 12px; font-weight: bold; text-decoration: none;">
					{{t 'settings.aboutPage.browserSupport'}}
				</div>
			</li>
		</ul>
	</div>
</div>
