<div class="container-fluid" style="margin: -10px 0px 0px 0px;">
	<div class="row-fluid">
		<div id="search-region">
			<!-- templates/settings/audit/audit-search.html -->
		</div>
	</div>
	<div id="audit-records-grid-view">
		<!-- templates/settings/audit/audit-records-grid.html -->
	</div>
	<div class="modal hide fade" id="audit-configuration-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
	<div class="modal hide fade" id="audit-details-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
</div>
