<!-- configuration-lab-info-view.html -->
<div class="instument-select" style="width: auto; padding: 10px 5px;">
	<div>
		<b>{{t 'settings.configurationPage.labInfoTab.title'}}</b>
	</div>
</div>
<div style="padding: 0px 5px;">
	<div style="width:100%;">
		<h6>
		{{t 'settings.configurationPage.labInfoTab.labContact'}}
		(<a href="#" id="lab_contact-audit-trail">{{t 'audit.trail.title'}}</a>)
		</h6>
		<div>
			<span>{{t 'settings.configurationPage.labInfoTab.labContactMessage'}}</span>
		</div>
	</div>

	<div style="width:100%; margin-top:20px;">
		<div>
			<div>
				<div class="span2"><b>{{t 'settings.configurationPage.labInfoTab.name'}} :</b></div>
				<div class="span2"><b>{{t 'settings.configurationPage.labInfoTab.email'}} : </b></div>
				<div class="span2"><b>{{t 'settings.configurationPage.labInfoTab.phone'}} : </b></div>
				<div class="span6"></div>
			</div>
			<div>
				<form class="form-horizontal">
					<div class="control-group lab-inputs">
						<div class="span2"><input id="lab-name" class="span12 reset" type="text" disabled value="{{info.0.contactInfoDto.name}}"/></div>
						<div class="span2"><input id="lab-email" class="span12 reset" type="text" disabled value="{{info.0.contactInfoDto.email}}"/></div>
						<div class="span2"><input id="lab-phone" class="span12 reset" type="text" disabled value="{{info.0.contactInfoDto.phone}}"/></div>
						<div class="span2">
							<a href="#" class="btn" id="lab-save" style="display:none;">{{t 'settings.configurationPage.labInfoTab.save'}}</a>
							<a href="#" class="btn" id="lab-edit">{{t 'settings.configurationPage.labInfoTab.edit'}}</a>
							<a href="#" class="btn" id="lab-reset" style="display:none;">{{t 'settings.configurationPage.labInfoTab.reset'}}</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div style="width:100%;">
		<h6>
		{{t 'settings.configurationPage.labInfoTab.itContact'}}
		(<a href="#" id="it-contact-audit-trail">{{t 'audit.trail.title'}}</a>)
		</h6>
		<div>
			<span>{{t 'settings.configurationPage.labInfoTab.itContactMessage'}}</span>
		</div>
	</div>

	<div style="width:100%; margin-top:20px;">
		<div>
			<div>
				<div class="span2"><b>{{t 'settings.configurationPage.labInfoTab.name'}} :</b></div>
				<div class="span2"><b>{{t 'settings.configurationPage.labInfoTab.email'}} : </b></div>
				<div class="span2"><b>{{t 'settings.configurationPage.labInfoTab.phone'}} : </b></div>
				<div class="span6"></div>
			</div>
			<div>
				<form class="form-horizontal">
					<div class="control-group it-inputs">
						<div class="span2"><input id="it-name" class="span12 reset" type="text" disabled value="{{info.1.contactInfoDto.name}}"/></div>
						<div class="span2"><input id="it-email" class="span12 reset" type="text" disabled value="{{info.1.contactInfoDto.email}}"/></div>
						<div class="span2"><input id="it-phone" class="span12 reset" type="text"disabled value="{{info.1.contactInfoDto.phone}}"/></div>
						<div class="span2">
							<a href="#" class="btn" id="it-save" style="display:none;">{{t 'settings.configurationPage.labInfoTab.save'}}</a>
							<a href="#" class="btn" id="it-edit">{{t 'settings.configurationPage.labInfoTab.edit'}}</a>
							<a href="#" class="btn" id="it-reset" style="display:none;">{{t 'settings.configurationPage.labInfoTab.reset'}}</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal hide fade" id="lab_contact-audit-trailModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
<div class="modal hide fade" id="it_contact-audit-trailModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
<div class="modal hide fade" id="auditTrailDetailsModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
