<div class="instument-select" style="width: auto; padding: 10px 5px;">
	<div>
		<form class="form-horizontal" style="margin:0px;">
			<div class="control-group" style="margin:0px;">
				<label class="control-label" style="color:black;" for="instruments-list"><b>{{t 'settings.configurationPage.instrumentTab.select'}} : </b></label>
				<div class="controls">
					<select id="instruments-list">
						{{#each list}}
							<option value="{{ @key }}">{{name}}</option>
						{{/each}}
					</select>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="instrument-detail-panel">
	<div>
		{{#ifCond details.instrumentType '==' "OT"}} <img
			src="{{img 'onetouch.png'}}" width="120" height="120"/>
		{{else}}
			{{#ifCond details.instrumentType '==' "CHEF"}}
				<img src="{{img 'chefInstru.jpg'}}" width="120" height="120"/>
			{{else}}
				<img src="{{img 'pgmInstru.png'}}" width="120" height="120"/>
			{{/ifCond}}
		{{/ifCond}}
	</div>
</div>

<div class="instrument-detail-panel">
	<div>
		<div>{{t 'settings.configurationPage.instrumentTab.instrumentType'}}</div>
		<div>{{details.instrumentType}}</div>
	</div>
	<div>
		<div>{{t 'settings.configurationPage.instrumentTab.instrumentIdentifier'}}</div>
		<div>{{details.instrumentIdentifier}}</div>
	</div>
	<div>
		<div>{{t 'settings.configurationPage.instrumentTab.instrumentSerialNumber'}}</div>
		<div>{{details.instrumentSerialNumber}}</div>
	</div>
	<div>
		<div>{{t 'settings.configurationPage.instrumentTab.lastConnectedDate'}}</div>
		<div>{{details.lastConnectedDate}}</div>
	</div>
	<div>
		<div>{{t 'settings.configurationPage.instrumentTab.ftpServer'}}</div>
		<div>{{details.ftpServer}}</div>
	</div>
	<div>
		<div>{{t 'settings.configurationPage.instrumentTab.ftpRootDirectory'}}</div>
		<div>{{details.ftpRootDirectory}}</div>
	</div>
	<div>
		<div>{{t 'settings.configurationPage.instrumentTab.updateHome'}}</div>
		<div>{{details.updateHome}}</div>
	</div>
	<div>
		<div>{{t 'settings.configurationPage.instrumentTab.instrumentState'}}</div>
		<div>{{details.instrumentState}}</div>
	</div>
	{{#ifCond details.instrumentType '!==' "CHEF"}}
		{{#ifCond details.instrumentType '!==' "OT"}}
			<div>
				<div>{{t 'settings.configurationPage.instrumentTab.lastInitDate'}}</div>
				<div>{{details.lastInitDate}}</div>
			</div>
			<div>
				<div>{{t 'settings.configurationPage.instrumentTab.lastChloriteDate'}}</div>
				<div>{{details.lastChloriteDate}}</div>
			</div>
		{{/ifCond}}
		<div>
			<div>{{t 'settings.configurationPage.instrumentTab.lastCleanWaterDate'}}</div>
			<div>{{details.lastCleanWaterDate}}</div>
		</div>
		<div>
			<div>{{t 'settings.configurationPage.instrumentTab.lastExperiment'}}</div>
			<div>{{details.lastExperiment}}</div>
		</div>
		<div>
			<div>{{t 'settings.configurationPage.instrumentTab.lastPQDate'}}</div>
			<div>{{details.lastPQDate}}</div>
		</div>
		<div>
			<div>{{t 'settings.configurationPage.instrumentTab.pQStatus'}}</div>
			<div>{{details.pQStatus}}</div>
		</div>
		<div>
			<div style="vertical-align: top;">{{t 'settings.configurationPage.instrumentTab.alarms'}}</div>
			<div>
				<ul>
					{{#each details.alarms}}
						<li>{{this}}</li>
					{{/each}}
				</ul>
			</div>
		</div>
		<div>
			<div>{{t 'settings.configurationPage.instrumentTab.instrumentSoftwareVersion'}}</div>
			<div>{{details.softwareVersion}}</div>
		</div>
		<div>
			<div>{{t 'settings.configurationPage.instrumentTab.scriptVersion'}}</div>
			<div>{{details.scriptVersion}}</div>
		</div>
	{{/ifCond}}
</div>
