<div class="btn-group pull-right">   
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
        {{t 'sample.presets.attribute.create.presets.title'}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="javascript:void(0)" role="button" data-type="boolean">{{t 'sample.presets.attribute.datatype.boolean'}}</a></li>
        <li><a href="javascript:void(0)" role="button" data-type="string">{{t 'sample.presets.attribute.datatype.text'}}</a></li>
        <li><a href="javascript:void(0)" role="button" data-type="integer">{{t 'sample.presets.attribute.datatype.integer'}}</a></li>
        <li><a href="javascript:void(0)" role="button" data-type="float">{{t 'sample.presets.attribute.datatype.float'}}</a></li>
        <li><a href="javascript:void(0)" role="button" data-type="lov">{{t 'sample.presets.attribute.datatype.controlled.vocabulary'}}</a></li>
    </ul>
</div>
