<div class="modal-header">
    {{#ifNotUndefined headerCtx}}
        <h3 class="breakall">{{headerCtx}}
    {{else}}
        <h3 class="breakall">{{t headerKey}}
    {{/ifNotUndefined}}
    <button type="button" class="close" data-dismiss="modal">x</button></h3>
</div>
<div class="modal-body" id="general-confirm-modal">
    {{#ifNotUndefined bodyTemplate}}
    {{sub bodyTemplate bodyCtx}}
    {{else}}
    <h5>{{t bodyKey}}</h5>
    {{/ifNotUndefined}}
</div>
<div id="modalFooter" class="modal-footer">
    
</div>