
<div class="row-fluid">
    <span id="filter-chain-edit-filter-select" class="controls">
        <!-- templates/filterChain/filter-chain-edit-filter-select.html -->
    </span>
</div>
<form class="form-horizontal edit-filter">
    <fieldset>
		<div id='filter-chain-edit-filter-container'></div>

		<div class="control-group">
		     <div class="controls">
		         <button id="filter-chain-edit-filter-main-button" type="button" class="btn btn-primary filter-chain-filter-btn-configure" style='display:none'>{{t 'filterChains.edit.set'}}</button>
		     </div>
	 	</div>
    </fieldset>
</form>
