<p class="context-help">{{t 'analysis.launch.workflow.help'}}</p>
<br>

<div class="row-fluid">
    <div class="span12">
        <select id="type-filters" class="pull-left show-tick show-menu-arrow filter" data-width="135px"></select>
        <select id="flag-filters" class="pull-left show-tick show-menu-arrow filter" data-width="135px"></select>
        <select id="technique-filters" class="pull-left show-tick show-menu-arrow filter" data-width="125px"></select>
        <select id="group-filters" class="pull-left show-tick show-menu-arrow filter" data-width="125px"></select>
        <select id="version-filters" class="pull-left show-tick show-menu-arrow" data-width="125px"></select>
        <form id="query-form" class="form-search form-inline pull-right"></form>
    </div>
</div>

<div class="row-fluid">
    <div class="span12" id="workflows-grid"></div>
</div>