<h1>{{t 'analysis.launch.title'}}</h1>
<p class="context-help">{{t 'analysis.launch.review'}}</p>
<br />
<div class="errors hide">
</div>
<form class="form-horizontal" id="{{id}}">
<div id="launchAnalyses"></div>
<div class="control-group">
    <div class="controls">
        <a id="launch-analysis-btn" class="btn btn-primary" href="#">{{t 'analysis.launch.action'}}</a>
    </div>
</div>
</form>
<div class="modal hide fade" id="confirm-launch-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
</div>
