<div class="row-fluid">
    <div class="pull-left">
        <ul class="nav nav-pills" id="batch-analyses-tab">
            <li>
                <a href="#launchable-analyses" data-toggle="tab">Launchable analyses</a>
            </li>
            <li class="active">
                <a href="#unlaunchable-analyses" data-toggle="tab">Errors</a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane" id="launchable-analyses">
        <div class="span8" id="batch-analyses-grid">
            <!--  batch analysis grid -->
        </div>
        <div class="span4" id="batch-summary">
            <!--  batch analysis summary -->
        </div>
    </div>
    <div class="tab-pane active" id="unlaunchable-analyses">
        <div class="span8" id="batch-analyses-error-grid">
            <!--  batch analysis grid -->
        </div>
        <div class="span4" id="batch-entry-error-details">
            <!--  batch analysis entry error details -->
        </div>
    </div> 
</div>
