<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 class="title"><span class="modalAction">{{t 'payment.label.change'}}</span>LifeTechnologies {{t 'payment.label.credentials'}}</h3>
</div>
<div class="modal-body" style="overflow: auto; max-height: 344px;">
    <div id="errors"></div>
    <fieldset>
    <span class="help-block">{{t 'payment.label.remove.account.warning'}} LifeTechnologies {{t 'payment.label.account'}}?</span>
    <div class="row-fluid"><br /></div>
    </fieldset>
</div>
<div class="modal-footer">
    <button id="payment-account-btn-delete" type="button" class="btn btn-secondary" data-dismiss="modal">{{t 'payment.label.yes'}}</button>
    <button id="payment-account-btn-cancel" type="button" class="btn btn-primary">{{t 'payment.label.no'}}</button>
</div>