<div class="row-fluid">
        <div class="span12">
                <a href="javascript:void(0)" id="reset">{{t 'reset.password.label.sendemail'}}</a>
        </div>
</div>
<div class="row-fluid">
        <div class="span6">
                <div style="margin-left:30px">{{t 'reset.password.label.or'}}</div>
        </div>
</div>
<div class="row-fluid">
        <div class="span6">
                <div class="control-group">
                        <label class="control-label" for="newPassword">{{t 'createUser.label.newPassword'}}: <span class="text-error requires-asterisk ">*</span></label>

                        <div class="controls">
                                <input type="password" name="newPassword" id="newPassword" required="required"
                                maxlength="60"/>
                        </div>
                </div>

                <div class="control-group">
                        <label class="control-label" for="retypedNewPassword">{{t 'createUser.label.confirmPass'}}: <span class="text-error requires-asterisk ">*</span></label>

                        <div class="controls">
                                <input type="password" name="retypedNewPassword" id="retypedNewPassword" required="required"
                                maxlength="60"/>
                        </div>
                </div>
        </div>
        <div class="span6">
                <div style="border: 1px dashed;">
                        {{t 'reset.password.label.policy'}}
                </div>
        </div>
</div>
