<div class="container-fluid">
    <div class="row-fluid">
        <h5>{{t 'admin.user.reject.confirm'}}</h5>
    </div>
    <br>
    <style>
    .form-horizontal .controls {
    	padding-top:5px; 
    	font-size:14px;
    }
    </style>
    <div id="manageUserForm" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="userFirstName">{{t 'user.profile.page.firstName.label'}}</label>
        <div class="controls">
        	{{model.firstName}}
		</div>
    </div>

    <div class="control-group">
        <label class="control-label" for="userLastName">{{t 'user.profile.page.lastName.label'}}</label>
        <div class="controls">
        	{{model.lastName}}
		</div>
    </div>

    <div class="control-group">
        <label class="control-label" for="userEmail">{{t 'user.profile.page.email.label'}}</label>
        <div class="controls">
        	{{model.email}}
        </div>
    </div>
    </div>
</div>