<div class="container-fluid">
    <div class="row-fluid">
        <div class="pull-left">
            <h1>{{t 'admin.label.importUsers'}}</h1>
        </div>
    </div>
    <div id="importFileUpload">
    </div>
    <div id="fileErrors"></div>
    <div class="row-fluid hide" id="userImportGridSection">
        <h4>{{t 'admin.label.importSuccess'}}</h4>
        <div id="userImportGrid">
        </div>
    </div>
    <br/>
    <div class="row-fluid">
        <div class="pull-left">
            <a class="btn" href="admin-users.html">{{t 'admin.label.back'}}</a>
        </div>
    </div>
</div>