 
    <td class="input-cell">
        <div class="layout-setting setting-type">{{name}}</div>
        <div class="progress progress-striped active" style="display:none">
          <div class="bar"></div>
        </div>
    </td>
    <td class="input-cell">
        <div class="layout-setting setting-value">{{version}}</div>
    </td>
    <td class="input-cell">
        <div class="layout-setting setting-value"><a data-cid="{{cid}}" href="#" class="annotation-set-btn-trash"><i class="icon-trash"></i></a></div>
    </td>