<div class="row-fluid">
	<div id="templationgKitDiv" style="display:table;">
		{{#ifCond collection.length '>=' 1}}
			<div style="display:table-cell; width:136px; font-size: 12px;vertical-align: top;"><strong>{{t labelKey}}: </strong></div>
			<div style="display:table-cell">
				<div class="custom-region-container" style="display:inline-block;">
					<select id="{{idKey}}" class="input-xlarge">
						{{#each collection}}
						<option value={{this.id}}>{{this.name}}</option>
						{{/each}}
					</select>
				</div>
				<div id="_desc" style="display:block;font-style: italic;margin:-10px 0px 0px 5px;color:#aaa;"></div>
			</div>
		{{/ifCond}}
		<div id="tempSize" style="display:table-cell;color:#aaa; padding-left: 5px;"></div>
	</div>
</div>
<div class="row-fluid">
	<div style="display:table;">
		<div id="sequencingKitDiv">
		</div>
		<div id="sequencingTempSize" style="display:table-cell;color:#aaa; padding-left: 5px;">
	</div>
</div>