<div id="browser-warning" class="alert warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

    <div class="browser-warning-contents">
        <div class="browser-warning-text-content">
            {{t 'browser.warning.message'}}:
        </div>
        <div class="browser-warning-icons">
            <a href="http://www.firefox.com">
                <img src="{{img 'firefox_60x57.png'}}" alt="Get Firefox" />
            </a>
            <a href="http://www.microsoft.com/ie/download.html">
                <img src="{{img 'internet_explorer_57x57.png'}}" alt="Get Internet Explorer" />
            </a>
            <a href="http://www.apple.com/safari/download/">
                <img src="{{img 'safari_57x57.png'}}" alt="Get Safari" />
            </a>
            <a href="http://www.google.com/chrome">
                <img src="{{img 'chrome_57x57.png'}}" alt="Get Google Chrome" />
            </a>
        </div>
    </div>
</div>
