<form class="form-horizontal">

    <div id="changePasswordClientErrors"></div>


	{{#if passwordExpired}}
    	<div class="alert alert-info">{{t 'admin.user.expired.password.error'}}</div>
	{{/if}}
    <div class="alert alert-info">{{t 'profile.changePassword.newPassword.length'}}</div>
    
    <div class="control-group">
        <label class="control-label" for="existingPassword">{{t 'admin.label.password.current'}}: <span class="text-error requires-asterisk ">*</span></label>

        <div class="controls">
            <input type="password" id="existingPassword" name="existingPassword" value="{{existingPassword}}"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="newPassword">{{t 'admin.label.password.new'}}: <span class="text-error requires-asterisk ">*</span></label>

        <div class="controls">
            <input type="password" id="newPassword" name="newPassword" value="{{newPassword}}"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="retypedNewPassword">{{t 'admin.label.password.confirm'}}: <span class="text-error requires-asterisk ">*</span></label>

        <div class="controls">
            <input type="password" id="retypedNewPassword" name="retypedNewPassword" value="{{retypedNewPassword}}"/>
        </div>
    </div>
</form>
