<div class="row-fluid">
    <div class="span12">
        <div id="extractionKitDiv"></div>
        <div id="libraryKitDiv"></div>
        <div id="barcodeKitDiv"></div>
        <div id="templatingKitDiv"></div>
        <div id="barcodeKitDiv"></div>
        <!-- <div id="sequencingKitDiv"></div> -->
        <div id="sequencingChipDiv"></div>
        <div id="controlKitDiv"></div>
        <div id="panelKitDiv"></div>
        <div>
			<table cellpadding="2">
				<tr>
					<td valign="top" style="width:130px;"><strong>{{t "assay.summary.flows"}}:</strong></td>
					<td>
						<input type="text" id="reagentFlows" value="{{flows}}" class="input-small"/>
					</td>
				</tr>
            </table>
        </div>
        <br/>
    </div>
</div>