<div class="row-fluid" style="display:none">
	<textarea name="notes" style="width: 97%; margin:0" maxlength="256" rows="5" ></textarea>
</div>
<div class="pull-left"><a href="javascript:void(0)" id="addInlineNote"><img src="/ir/resources/img/add-DNA-RNA.png"> {{t 'specimen.add.note.link'}}</a></div>
<div class="pull-left" style="display: none"><a href="javascript:void(0)" id="removeNote"><i class="icon-remove-sign"></i> {{t 'dialog.cancel'}}</a></div>
<div class="pull-right" style="display: none"><a href="javascript:void(0)" id="saveNote"><i class="icon-ok-sign"></i> {{t 'dialog.save'}}</a></div>
<br/><hr class="filter"/>
<div id="allNotes" class="modal-scroll" style="height: 200px">	
	
</div>
<br/>