<div class="row-fluid">
    <p class="context-help">{{t 'workflow.annotation.set.help'}}</p>
</div>
<div class="row-fluid">
    <div class="span5">
        <div class="settings-selector-box">
            <h5>{{t 'workflow.annotation.set.label'}}</h5>

            <div id="annotationSelectDiv">
                <!-- templates/workflow-annotation-select.html -->
            </div>
            <br/>
            <p class="workflow-presets-redirect">
                {{t 'annotation.set.label.unable.find'}} {{t 'annotation.set.label.configure.in'}} <a id="presets_redirect" href="{{surl 'workflows-presets.html'}}">{{t 'workflow.presets.title'}}</a>.
            </p>            
        </div>
        {{#if false}}
        <div class="settings-new-box">
            <p>{{t 'annotation.set.label.unable.find'}}</p>

            <p>
                <a id="editAnnotationSet" href="#" data-toggle="tooltip" data-container="body"
                   data-original-title="Edit"><i class="icon-edit"></i></a> |
                <a id="cloneAnnotationSet" href="#" data-toggle="tooltip" data-container="body"
                   data-original-title="Clone"><i class="icon-file"></i><i
                        class="icon-arrow-right"></i><i class="icon-file"></i></a> |
                <a id="addAnnotationSet" href="javascript:void(0)" data-toggle="tooltip" data-container="body"
                   data-original-title="New"><i class="icon-file"></i></a>
            </p>
        </div>
        {{/if}}
    </div>
    <div id="settings-detail"></div>
</div>
