<div class="row-fluid">
    <p class="context-help">{{t 'workflow.cnv.help'}}</p>
</div>
<div class="row-fluid">
    <div class="span5">
        <div class="settings-selector-box">
            <h5>{{t 'workflow.baseline.title'}}</h5>

            <div id="baseline-select" class="btn-group selectBox">
                <!--  workflow-cnvbaseline-selection -->
            </div>
            
            <br/>          
            <p class="workflow-presets-redirect">
                {{t 'annotation.set.label.unable.find'}} {{t 'annotation.set.label.configure.in'}} <a id="presets_redirect" href="{{surl 'workflows-presets.html'}}">{{t 'workflow.presets.title'}}</a>.
            </p>            
        </div>
    </div>
    <div id="baseline-settings" class="span7">
        <!--  workflow-cnvbaseline-settings -->
    </div>
</div>
