<div class="alert alert-info">
    {{t 'ampliseq.import.message.use.part'}} 
    <a href="https://www.ampliseq.com" target="_blank">ampliseq.com</a> 
    {{t 'ampliseq.import.message.credentials.part'}}
    {{t 'ampliseq.import.message.creation'}}
</div>
<div class="control-group">
    <label class="control-label" for="ampliseqUsername">{{t 'ampliseq.label.username'}}</label>
    <div class="controls"><input type="text" id="ampliseqUsername" required
                                 value="{{username}}"></div>
</div>

<div class="control-group">
    <label class="control-label" for="ampliseqPassword">{{t 'ampliseq.label.password'}}</label>
    <div class="controls"><input type="password" id="ampliseqPassword" required
                                 value="{{password}}"></div>
</div>

<div class="control-group">
    <div class="controls">
        <button type="button" class="btn" id="listCustomAmpliseqPanelsBtn">{{t 'ampliseq.lable.list.panels'}}</button>
    </div>
</div>

<div class="control-group {{#unless customDesignPanels}}hide{{/unless}}" id="customPanelsListContainer">
    <label class="control-label" for="customPanelsList">{{t 'ampliseq.label.custom.panel'}}</label>
    <div class="controls">
        <select id="customPanelsList">
            {{#each customDesignPanels}}
            <option value="{{ampliseqId}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
</div>