<table class="table no-border" style="margin:0px;">
	<tbody>
		<tr style="border: 1px 1px 0px 1px solid #d8d8d8;">
			<td style="width: 15%; border:none;">
				<b>{{t 'data.report.controlQcMetrics'}}</b>
			</td>
			<td style="padding:0px;">
				<div>
					<table style="width:100%;" class="inner_1">
						<tbody class="inner_table">
						{{#each Qcs}}
							<tr>
								<td class="tr-bg" style="width:20%;"><b>{{this.name}}</b></td>
								<td style="padding:0px;background: white;">
									<table class="no-border" style="width:100%;">
										<tbody>
											{{#each this.internalControlList}}
											<tr style="border:none;">
												<td style="width:25%; border:none;">{{metricName}}</td>
												<td style="width:25%; border:none;">{{value}}</td>
												<td style="width:25%; border:none;">{{#isNumeric referenceRange}}>={{/isNumeric}} {{referenceRange}}</td>
												<td style="width:25%; {{#ifCond qCStatus '===' 'Passed'}}color:green;{{else}} color:red; {{/ifCond}} border:none;"> {{qCStatus}}</td>
											</tr>
											{{/each}}
										</tbody>
									</table>
								</td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>