<div class="span12">	
	<div class="report-header">{{t 'grid.column.runstatus.analysis'}}</div>
	<div class="report-body">
		<table style="width: 100%">
			<tr>
				<td valign="top" class="summary-item" style="padding-left: 0px"
					width="200">{{t 'data.verificationRuns.label.date'}}:</td>
				<td>{{date}}</td>
			</tr>
			<tr>
				<td valign="top" class="summary-item" style="padding-left: 0px">{{t 'data.verificationruns.operator'}}:</td>
				<td>{{operator}}</td>
			</tr>
		</table>
	</div>
</div>