<div class="dropdown pull-right">
    <a data-target="#" id="temp" role="button" class="dropdown-toggle btn" data-toggle="dropdown"><i class="icon-action"></i></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="temp">
    	{{#if isEditable}}
    		<li role="presentation" data-action="edit"><a role="menuitem" tabindex="-1" href="#">{{t 'actions.EDIT'}}</a></li>
    	{{/if}} 
    	<li role="presentation" data-action="audit_trail"><a role="menuitem" tabindex="-1" href="#">{{t 'actions.AUDIT'}}</a></li>
    </ul>
    
</div>