 <div>
	 <b><a data-toggle="tooltip" title="{{planName}}" href='javascript:void(0)' data-action='plan-review'>{{truncate planName 24}}</a></b>
	 <div class="entity-links">
	 	{{#ifCond templateType '!==' "install_pgm"}}
			{{#ifCond templateType '!==' "install_ws"}}
				{{#if edit}}
					<span><a href="javascript:void(0)" data-action="plan-edit">{{t 'actions.EDIT'}}</a></span> |
				{{/if}}
	 		{{/ifCond}}
		{{/ifCond}}
		<span><a href="javascript:void(0)" data-action="audit_trail">{{t 'actions.AUDIT'}}</a></span>
	 </div>
</div>