<div class="container-fluid">
	<div class="alert" style="margin: 0px;">
		{{#unless isExistingReference}}
  		<strong>
  			{{t 'cnv.baseline.pleaseSelect'}} 
  			<span id="reqSamples">{{data.samples}}</span> 
  			{{t 'cnv.baseline.specimensOutOfWhich'}}, 
  			<span id="reqNormalSamples">{{data.normalSamples}}</span> 
  			{{t 'cnv.baseline.normalSpecimens'}}
  		</strong>
  		{{else}}
  		<strong>
  			{{t 'cnv.baseline.pleaseSelectSamples'}} 
  			<span id="reqSamples">{{data.samples}}</span>
  			{{t 'cnv.baseline.samplesText'}}
  		</strong>
  		{{/unless}}
	</div>
	<div class="row-fluid">
		<div class="pull-left" style="margin: 12px 0px 0px 0px;"><b>
			{{t 'cnv.baseline.selectedSpecimens'}} - <span id="count">0</span>
		</div></b>
		<div class="actionSearch pull-right" style="background:none;">
			<form id="query-form" class="form-search form-inline pull-right" style="margin:0px;">
				<!-- templates/common/search.html -->
			</form>
		</div>
	</div>
	<div class="row-fluid">
		<div id="all" style="display:block;">
			<div id="select-samples-grid"></divS>
		</div>
	</div>
</div>