<div class="container-fluid">
	<div class="row-fluid">
		<div class="pull-left">			
			<div class="btn-toolbar">
				{{t 'button.label.show'}}:&nbsp;&nbsp;				
				<div class="btn-group" id="filterGroup">
					<button class="btn btn-default btn-pressed" val="all">
						{{t 'button.label.all'}}
					</button>
					<button class="btn btn-default" val="toBePlanned">
						{{t 'button.label.toBePlanned'}}
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="actionSearch">
			<button class="btn btn-secondary" id="libraryPlanARunBtn" data-toggle="tooltip" data-placement="bottom" title="Plan A Run" disabled>{{t 'planRun.button.label'}}</button>
			<button class="btn btn-default" id="libraryDelete" data-toggle="tooltip" data-placement="bottom" title="{{t 'actions.DELETE'}}" disabled><img src="{{img 'delete.png'}}">
			</button>
			<span class="vpad14" >{{t 'library.label.selectedLibrary'}}: <b class="selected-samples" id="libCount">{{t 'manage.sample.selectedcount'}}</b></span>
			<div id="details-options-menu" class="pull-left">
				<!-- templates/common/actions-menu.html -->
			</div>
			<form id="query-form" class="form-search form-inline pull-right">
				<!-- templates/common/search.html -->
			</form>
		</div>
	</div>
	<div class="row-fluid">
		<div id="library-grid">
			<!-- views/samples/sampleGridView.js -->
		</div>
	</div>
	<div class="modal hide fade" id="addEditLibrary" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
	<div class="modal hide fade" id="addNotes" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
	<div class="modal hide fade" id="auditTrailModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
	<div class="modal hide fade" id="addPlan" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>	
	<div class="modal hide fade" id="viewNotes" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
	<div class="modal hide fade" id="auditTrailModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
	<div class="modal hide fade" id="auditTrailDetailsModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
	<div class="modal hide fade" id="addLibraryModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
</div>