<div class="container-fluid">
	<div class="row-fluid" style="margin-bottom:10px">
		<div class="pull-right">
			<a id="addNewAttribute" href="#" data-toggle="modal" title="Add New Attribute" class="btn btn-primary">{{t 'add.attribute.title'}}</a>
		</div>
	</div>
	<div id="modalView"></div>
	<div class="row-fluid">
		<div class="span12" id="viewattributes-grid">
		</div>
	</div>
</div>
<div class="modal hide fade" id="addNewAttributeModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"></div>
