{{sub sub.header}}
<div class="report-body" id="report-template-body-{{model._type}}">
	<p>{{t 'final.report.template.information'}}</p>
    <div class="report-template-body-content">
	    <small>{{t 'final.report.template.example.header'}}</small>
	    <div class="preview-box">
			<div class="row-fluid analysis-report-iconset">
				<div class="span3">
					<ul class="unstyled">
						<li style="list-style: none; display: inline;">
							<div style="float:left; width:42px;"><img src="{{img 'reporter.png'}}" alt="three_chip_icon" width="36" height="36"></div>							
						</li>
                        <li><strong>{{t 'final.report.template.example.version.label'}}:</strong><br>{{t 'final.report.template.example.version.value'}}</li>
					</ul>
				</div>
				<div class="span3">
					<ul class="unstyled">
						<li style="list-style: none; display: inline">
							<div style="float:left; width:42px;"><img src="{{img 'filepath.png'}}" alt="three_chip_icon" width="36" height="36"></div>
						</li>
						<li><strong>{{t 'final.report.template.example.importedBy.label'}}:</strong><br>{{t 'final.report.template.example.importedBy.value'}}</li>
					</ul>
				</div>
				<div class="span3">
					<ul class="unstyled">
						<li style="list-style: none; display: inline">
							<div style="float:left; width:42px;"><img src="{{img 'analyze.png'}}" alt="three_chip_icon" width="36" height="36"></div>
						</li>
						<li><strong>{{t 'final.report.template.example.analyzedBy.label'}}:</strong><br>{{t 'final.report.template.example.analyzedBy.value'}}</li>
					</ul>
				</div>
				<div class="span3">
					<ul class="unstyled">
						<li style="list-style: none; display: inline">
							<div style="float:left; width:42px;"><img src="{{img 'cal.png'}}" alt="three_chip_icon" width="36" height="36"></div>
						</li>
						<li><strong>{{t 'final.report.template.example.importedDate.label'}}:</strong><br>{{t 'final.report.template.example.importedDate.value'}}</li>
					</ul>
				</div>
			</div>
			<div class="row-fluid analysis-report-iconset">
				<div class="span3">
					<ul class="unstyled">
						<li style="list-style: none; display: inline">
							<div style="float:left; width:42px;"><img src="{{img 'cal.png'}}" alt="three_chip_icon" width="36" height="36"></div>
						</li>
						<li><strong>{{t 'final.report.template.example.analyzedDate.value'}}:</strong><br>{{t 'final.report.template.example.analyzedDate.value'}}</li>
					</ul>
				</div>
				<div class="span3">
					<ul class="unstyled">
						<li style="list-style: none; display: inline">
							<div style="float:left; width:42px;"><img src="{{img 'amplseq.png'}}" alt="three_chip_icon" width="36" height="36"></div>
						</li>
						<li><strong>{{t 'final.report.template.example.workflow.value'}}:</strong><br><a href="javascript:void(0)">{{t 'final.report.template.example.workflow.value'}}</a></li>
					</ul>
				</div>
				<div class="span3">
					<ul class="unstyled">
						<li style="list-style: none; display: inline">
							<div style="float:left; width:42px;"><img src="{{img 'annotations.png'}}" alt="three_chip_icon" width="36" height="36"></div>
						</li>
						<li><strong>{{t 'final.report.template.example.annotations.value'}}:</strong><br><a href="javascript:void(0)">{{t 'final.report.template.example.annotations.value'}}</a></li>
					</ul>
				</div>
				<div class="span3">
					<ul class="unstyled">
						<li style="list-style: none; display: inline">
							<div style="float:left; width:42px;"><img src="{{img 'annotations.png'}}" alt="three_chip_icon" width="36" height="36"></div>
						</li>
						<li><strong>{{t 'final.report.template.example.reference.value'}}:</strong><br><a href="javascript:void(0)">{{t 'final.report.template.example.reference.value'}}</a></li>
					</ul>
				</div>
			</div>    
	    </div>
    </div>
</div>