<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!--<head th:substituteBy="public-layout.html :: headerFragment"></head>-->
<head th:substituteBy="public-layout.html :: headerFragment"></head>
<body>
  <div class="wrapper">
    <!--<div class="header" layout:include="public-layout.html :: publicBodyHeader">-->
	<div class="header">
    	<div class="header" >
	        <div class="container" style="width:90%;">
				<div class="login-margin">
				  	<div sec:authorize="${@utilService.isDx()}"><img src="../../public-resources/img/Dx_logo.png" th:src="@{/resources/img/Dx_logo.png}" alt="Ion Reporter&trade; Logo"/></div>
				  	<div sec:authorize="${@utilService.isAssayDev()}"><img src="../../public-resources/img/AssayDev_logo.png" th:src="@{/resources/img/AssayDev_logo.png}" alt="Ion Reporter&trade; Logo"/></div>
				</div>
			</div>
		</div>
	</div>
	<div class="banner">
	  <!--<div class="container" layout:include="public-layout.html :: banner">-->
	  <div class="container">
	    <!--<div class="row-fluid" layout:fragment="bannerContent">-->
	    <div class="row-fluid">
	      <!-- -->
	      <div class="lp_reset_password">
	      <!-- Reset Password Div Goes here -->
	      
	      	<div th:if="${#strings.startsWith(loginUsage,'activate')}">
  <!--div th:if="${servletError}" class="row-fluid">
    <div class="alert alert-error">
      <span th:text="${servletError.message}"></span>
      <span th:if="${passwords}">
        <form th:object="${passwords}" method="post">
          <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>
        </form>
      </span>
    </div>
  </div-->
  <div id="errorsDiv" class="row-fluid" style="display:none;">
    <div class="alert alert-error">
      <span class="error-message"></span>
      <span class="sub-errors">
          <ul></ul>
      </span>
    </div>
  </div>
  <div class="alert alert-error" th:unless="${servletError}" th:if="${loginUsage == 'activate_expiredPasswordResetToken'}" th:text="#{exception.msg.public.ExpiredPasswordResetTokenException}"></div>
  <div class="row-fluid">
    <span th:if="${false}">
    </span>
    <div th:if="${loginUsage == 'activate'}">
      <form th:action="@{/reset/password}" th:object="${passwords}" method="post" id="resetPassword">
        <input type="hidden" name="X-IonReporter-CSRF-Token" th:value="${session.csrfSessionToken}" />
        <input type="hidden" th:field="*{token.token}" th:value="*{token.token}"/>
        <input type="hidden" th:field="*{userInformation.email}" th:value="*{userInformation.email}"/>
        <div class="alert alert-info" th:text="#{user.reset.password.instruction}"></div>
        
        <table>
	        <tbody>
	        	<tr>
	        		<td><label style="display:inline-block;" class="control-label label-head" th:text="#{label.email}"></label></td>
	        		<td style="padding: 0px 0px 0px 15px;"><span style="margin-top:5px;" th:text="*{userInformation.email}"></span></td>
	        	</tr>
	        	<tr>
	        		<td><label style="display:inline-block;" class="control-label label-head" for="passwords.newPassword" th:text="#{label.password}"></label></td>
	        		<td style="padding: 0px 0px 0px 15px;"><input style="margin-top:5px;" type="password"  th:field="*{passwords.newPassword}" maxlength="255" th:placeholder="#{createUser.label.newPassword}" /></td>
	        	</tr>
	        	<tr>
	        		<td><label style="display:inline-block;" class="control-label label-head" for="passwords.retypedNewPassword" th:text="#{label.confirm.password}"></label></td>
	        		<td style="padding: 0px 0px 0px 15px;"><input style="margin-top:5px;" type="password"  th:field="*{passwords.retypedNewPassword}" maxlength="255" th:placeholder="#{createUser.label.confirmPass}" /></td>
	        	</tr>
	        </tbody>
        </table>
        <table>
        	<tr>
	        	<td>
	        		<button id="save" class="btn btn-primary" th:text="#{button.save}"></button>
	        	</td>
        	</tr>
        </table>
        <!--
        <div class="control-group">
          <label style="display:inline-block;" class="control-label label-head span3" th:text="#{label.email}"></label>
          <div style="display:inline-block;" class="controls span9">
            <span style="margin-top:5px;" th:text="*{userInformation.email}"></span>
          </div>
        </div>
        <div class="control-group">
          <label style="display:inline-block;" class="control-label label-head span3" for="passwords.newPassword" th:text="#{label.confirm.password}"></label>
          <div style="display:inline-block;" class="controls span9">
            <input style="margin-top:5px;" type="password"  th:field="*{passwords.newPassword}" maxlength="255" placeholder="Password" />
          </div>
        </div>
        <div class="control-group">
          <label style="display:inline-block;" class="control-label label-head span3" for="passwords.retypedNewPassword" th:text="#{label.password}"></label>
          <div style="display:inline-block;" class="controls span9">
            <input style="margin-top:5px;" type="password"  th:field="*{passwords.retypedNewPassword}" maxlength="255" placeholder="Confirm Password" />
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button id="save" type="submit" class="btn btn-primary" th:text="#{button.save}">
            </button>
          </div>
        </div>-->
      </form>
    </div>
  </div>
</div>
	      
	      <!-- Reset Password Div Stops here -->
	      </div>
	    </div>
	  </div>
	</div>
	<footer th:fragment="bodyFooter" style="margin: 0px;height:150px;position: absolute;bottom: 0;background: #d8d8d8;width: 100%;">
	  <div>
	    <div class="row-fluid" style="margin:0px;">
	      <div>
	        <div class="pull-left">
	          <img src="../../public-resources/img/iontorrent-logo-footer.png" th:src="@{/resources/img/iontorrent-logo-footer.png}" alt="" class="iontorrent-logo-footer" style="padding-right:10px;" />
	        </div>
	        <div class="copyright">
	          <p th:text="#{${@utilService.getFooterDisclaimer()}}"></p>
	          <p th:text="#{footer.copyright}"></p>
	          <p class="browser-support" th:text="#{login.browser.support}"></p>
	        </div>
	      </div>
	    </div>
	  </div>
	</footer>
  </div>
  <script type="text/javascript" th:inline="javascript">
  	$(document).on('ready', function(){
  		$('button#save').on('click', function(e){
  			e.preventDefault();
  			var data = $('form#resetPassword').serialize();
  			$.ajax({
  				url:[[@{'/reset/password'}]],
  				type:'post',
  				data:data,
  				success: function(){
  					window.location='/ir/login.html#passwordReset';
  					//console.log('Success');
  					//console.log(arguments);
  				},
  				error:function(data){
  					console.log('Error');
  					showErrors(JSON.parse(data.responseText));
  				}
  			});
  		});
  		
  		function showErrors(list){
  			$('#errorsDiv').css('display','block');
  			var errorUl = $('#errorsDiv').find('ul');
  			errorUl.empty();
  			var errors = list.rdxerrors.rdxObject;
  			for(var error in errors){
  				var current = errors[error];
  				var li = $('<li/>',{text:current.message});
  				errorUl.append(li);
  			}
  		}
  	})
  </script>
  </body>
</html>
