article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}
audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
body,button,input,select,textarea {
    font-family: sans-serif;
}
a:focus {
    outline: thin dotted;
}
a:hover,a:active {
    outline: 0;
}
h1 {
    font-size: 2em;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
pre,code,kbd,samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,q:after {
    content: '';
    content: none;
}
small {
    font-size: 75%;
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
ul,ol {
    margin-left: 0;
    padding: 0 0 0 40px;
}
dd {
    margin: 0 0 0 40px;
}
nav ul,nav ol {
    list-style: none;
    list-style-image: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    *margin-left: -7px;
}
button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button,input {
    line-height: normal;
}
button,input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}
input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*! jQuery UI - v1.9.2 - 2014-01-06
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.button.css, jquery.ui.dialog.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{zoom:1}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%}.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:0.1px;display:block}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}.ui-selectable-helper{position:absolute;z-index:100;border:1px dotted black}.ui-button{display:inline-block;position:relative;padding:0;margin-right:.1em;cursor:pointer;text-align:center;zoom:1;overflow:visible}.ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none}.ui-button-icon-only{width:2.2em}button.ui-button-icon-only{width:2.4em}.ui-button-icons-only{width:3.4em}button.ui-button-icons-only{width:3.7em}.ui-button .ui-button-text{display:block;line-height:1.4}.ui-button-text-only .ui-button-text{padding:.4em 1em}.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px}.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em}.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em}.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em}input.ui-button{padding:.4em 1em}.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px}.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px}.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em}.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em}.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em}.ui-buttonset{margin-right:7px}.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em}button.ui-button::-moz-focus-inner{border:0;padding:0}.ui-dialog{position:absolute;top:0;left:0;padding:.2em;width:300px;overflow:hidden}.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative}.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .1em 0}.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:19px;margin:-10px 0 0 0;padding:1px;height:18px}.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px}.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{padding:0}.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:none;overflow:auto;zoom:1}.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin:.5em 0 0 0;padding:.3em 1em .5em .4em}.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right}.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer}.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px}.ui-draggable .ui-dialog-titlebar{cursor:move}.ui-widget{font-family:Verdana,Arial,sans-serif;font-size:1.1em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Verdana,Arial,sans-serif;font-size:1em}.ui-widget-content{border:1px solid #aaa;background:#fff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;color:#222}.ui-widget-content a{color:#222}.ui-widget-header{border:1px solid #aaa;background:#ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;color:#222;font-weight:bold}.ui-widget-header a{color:#222}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #d3d3d3;background:#e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#555}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#555;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #999;background:#dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#212121}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited{color:#212121;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #aaa;background:#fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#212121}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#212121;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fcefa1;background:#fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;color:#363636}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;color:#cd0a0a}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#cd0a0a}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#cd0a0a}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px;background-image:url(images/ui-icons_222222_256x240.png)}.ui-widget-content .ui-icon{background-image:url(images/ui-icons_222222_256x240.png)}.ui-widget-header .ui-icon{background-image:url(images/ui-icons_222222_256x240.png)}.ui-state-default .ui-icon{background-image:url(images/ui-icons_888888_256x240.png)}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url(images/ui-icons_454545_256x240.png)}.ui-state-active .ui-icon{background-image:url(images/ui-icons_454545_256x240.png)}.ui-state-highlight .ui-icon{background-image:url(images/ui-icons_2e83ff_256x240.png)}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(images/ui-icons_cd0a0a_256x240.png)}.ui-icon-carat-1-n{background-position:0 0}.ui-icon-carat-1-ne{background-position:-16px 0}.ui-icon-carat-1-e{background-position:-32px 0}.ui-icon-carat-1-se{background-position:-48px 0}.ui-icon-carat-1-s{background-position:-64px 0}.ui-icon-carat-1-sw{background-position:-80px 0}.ui-icon-carat-1-w{background-position:-96px 0}.ui-icon-carat-1-nw{background-position:-112px 0}.ui-icon-carat-2-n-s{background-position:-128px 0}.ui-icon-carat-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-64px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-64px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:0 -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-on{background-position:-96px -144px}.ui-icon-radio-off{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;-khtml-border-top-left-radius:4px;border-top-left-radius:4px}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;-khtml-border-top-right-radius:4px;border-top-right-radius:4px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;-khtml-border-bottom-left-radius:4px;border-bottom-left-radius:4px}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;-khtml-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.ui-widget-overlay{background:#aaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;opacity:.3;filter:Alpha(Opacity=30)}.ui-widget-shadow{margin:-8px 0 0 -8px;padding:8px;background:#aaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;opacity:.3;filter:Alpha(Opacity=30);-moz-border-radius:8px;-khtml-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section h1 {
    font-size: 1.6em;
}
section section h1 {
    font-size: 1.4em;
}
html {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
noscript p {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    overflow: hidden;
    width: 100%;
}
header #logo-link {
    float: left;
}
header h1 {
    font-size: 1em;
    margin-left: 150px;
    font-weight: normal;
    line-height: 2.5em;
}
#leftbar {
    position: absolute;
    width: 295px;
    top: 60px;
    bottom: 45px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
footer {
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 100%;
    overflow: hidden;
}
#center {
    position: absolute;
    top: 60px;
    bottom: 45px;
    left: 310px;
    right: 0;
}
#searchform {
    position: absolute;
    top: 10px;
    right: 20px;
}
#leftbar .tabs {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 30px;
}
#leftbar .tabs li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 24%;
    text-align: center;
    padding-top: 5px;
}
#leftbar > nav {
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}
#leftbar > nav.current {
    display: block;
}
.toc div.loader {
    margin-top: 2em;
    text-align: center;
}
.toc > nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px 10px 0 0px;
}
.toc > nav ul {
    margin: 0;
    padding-left: 10px;
}
.toc > nav li.leaf {
    background-image: url(toc-leaf.png);
    background-repeat: no-repeat;
    background-position: .4em .1em;
    padding-left: 27px;
    margin: 7px 0;
}
.toc > nav li.open {
    background-image: url(toc-open.png);
    background-repeat: no-repeat;
    background-position: .4em .1em;
    padding-left: 27px;
    margin-left: 0px;
}
.toc > nav li.open > ul {
    margin-left: -20px;
    padding-bottom: 3px;
}
.toc > nav li.closed {
    background-image: url(toc-closed.png);
    background-repeat: no-repeat;
    background-position: .4em .1em;
    padding-left: 27px;
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.toc > nav li.closed > ul {
    display: none;
}
#topnav {
    position: absolute;
    height: 60px;
    overflow: hidden;
    width: 100%;
}
#breadcrumbs {
    margin-top: 10px;
    margin-right: 100px;
    font-size: 0.9em;
    color: #7E696D;
}
#breadcrumbs a,#breadcrumbs a:visited {
    color: #7E696D;
    text-decoration: none;
}
#breadcrumbs .arrowString {
    font-size: 0.9em;
    margin-left: 4px;
    margin-right: 5px;
}
#topbuttons {
    position: absolute;
    top: 10px;
    right: 30px;
}
#topbuttons span {
    display: none;
}
#topbuttons a {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 32px;
    height: 32px;
}
#button-hide-navigation {
    background-image: url(hidenav.png);
}
#button-back {
    background-image: url(back.png);
}
#button-forward {
    background-image: url(forward.png);
}
#button-highlighting {
    background-image: url(highlighting.png);
}
#button-print {
    background-image: url(print.png);
}
a#button-print-all {
    background-image: url(printall.png);
    cursor: pointer;
    display: none;
}
body.ajax a#button-print-all {
    display: inline-block;
}
a#button-pdflink {
    background-image: url(pdflink.jpg);
    background-repeat: no-repeat;
    display: none;
}
a#button-email {
    background-image: url(email.jpg);
    background-repeat: no-repeat;
    margin-right: 4px;
    width: 39px;
    display: none;
}
article {
    position: absolute;
    top: 60px;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}
@media (max-width: 600px)  {
    header,#leftbar,footer,#center,#searchform,#leftbar .tabs,#leftbar > nav,.toc > nav,#topnav,#topbuttons,article {
        position: static;
    }
}
#leftbar nav.index .popup {
    display: none;
}
#leftbar nav.index .active > .popup {
    display: block;
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 5px;
    padding-left: 5px;
}
#leftbar nav.index .pop-term {
    cursor: pointer;
}
.hide-nav #leftbar,.hide-nav #dragger {
    display: none;
}
.hide-nav article {
    left: 5px !important;
}
#dragger {
    width: 1px;
    position: absolute;
    left: 295px;
    top: 58px;
    bottom: 0;
    background: #7E696D;
    cursor: w-resize;
    background-color: #B5B7B4;
}
#printall {
    display: none;
}
p.snippet {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    font-style: italic;
    color: black;
    font-size: 70%;
}
.searchtotal {
    display: none;
}
.score {
    display: none;
}
.searchedfor {
    display: none;
}
.ui-dialog .ui-dialog-titlebar {
    color: white;
}
article .thumbnail {
    height: 50px;
    width: 50px;
}
article a,article span {
    margin: 0;
}
article div.body,article div.glossdef {
    margin: 0px 20px;
    max-width: 800px;
}
article p.shortdesc {
    display: none;
}
article p {
    margin: 1em 0 0 0;
    padding: 0;
    line-height: 150%;
}
article li {
    margin: 1em 0 0 0;
    padding: 0;
}
article > div > ol > li,article > div > ul > li {
    margin-right: 30px;
}
article > h1 {
    color: #293E6B;
    font-size: 1.65em;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, sans-serif;
    margin: 0px 20px 15px 20px;
}
article > h1:first-child,article > h1:first-of-class {
    margin-top: 0;
}
article ul > li {
    color: #293E6B;
    list-style: disc;
}
article ul > li > p {
    color: #000;
    font-weight: normal;
}
article li > ul > li {
    color: #293E6B;
    list-style: square;
}
article li > ul > li > p {
    color: #000;
}
article ol > li {
    color: #293E6B;
    font-weight: bold;
    font-family: Arial, sans-serif;
    list-style: decimal;
}
article ol > li > span,article ol > li > p {
    color: #000;
    font-weight: normal;
    font-family: Verdana, sans-serif;
    list-style: decimal;
}
article li > ol > li {
    color: #293E6B;
    font-weight: bold;
    font-family: Arial, sans-serif;
    list-style: lower-alpha;
}
article li > ol > li > span,article li > ol > li > p {
    color: #000;
    font-weight: normal;
    font-family: Verdana, sans-serif;
    list-style: lower-alpha;
}
article a {
    margin: 0;
    padding: 0;
}
article a,article a:visited {
    color: #0033ab;
    text-decoration: none;
}
article a:hover,article a:focus {
    color: #e38a22;
    text-decoration: underline;
}
article li > a {
    display: none;
}
article span.notetitle {
    display: none;
}
article div.note > p:before {
    content: "Note: ";
    font-weight: bold;
    font-style: normal;
    font-family: Arial, sans-serif;
    display: inline;
}
article div.note > p + p:before,article div.note > ol + p:before,article div.note > ul + p:before {
    content: none;
}
article div.note p {
    display: block;
    font-weight: normal;
    font-family: Verdana, sans-serif;
    margin-left: 0;
}
article div.note p:first-child {
    display: inline;
    font-weight: normal;
}
article div.note > p + p {
    margin-top: 0.6em;
}
article li > div.note,article li > div.important {
    margin-top: .5em;
    margin-left: 0;
}
article div.important > p:before {
    content: "IMPORTANT! ";
    font-weight: bold;
    font-style: normal;
    font-family: Arial, sans-serif;
    display: inline;
}
article div.important > p + p:before,article div.important > ol + p:before,article div.important > ul + p:before {
    content: none;
}
article div.important p {
    font-weight: normal;
}
article div.important p:first-child {
    display: inline;
    font-weight: normal;
}
article div.important > p + p {
    margin-top: 0.6em;
}
article .section h2 {
    margin-left: 0;
    padding-left: 0;
}
article {
    font-family: Verdana, sans-serif;
    font-size: .90em;
}
article h2 {
    color: #293E6B;
    font-size: 1.3em;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, sans-serif;
    margin: 1.35em 20px 0px 20px;
}
article h3 {
    color: #000000;
    font-size: 1.1em;
    font-weight: bold;
    font-style: normal;
    font-family: Arial, sans-serif;
    margin: 1.35em 20px 0px 20px;
}
.familylinks,.parentlink,.relconcepts {
    display: block;
    margin-top: 1em;
    padding: 0;
}
.related-links {
    margin: 4em 0 0 20px;
}
.related-links a {
    display: block;
    margin: 10px 0px 0px 40px;
    width: 100%;
}
.uicontrol {
    font-weight: bold;
}
article ul > li p,article ul > li .p,article p.p,article .choice {
    color: #000;
    font-weight: normal;
}
p .image,li > .image {
    display: inline;
}
td > .image,td img {
    display: block;
    margin: 1em 0 0 0;
}
article .desc,article .fig > .image {
    display: block;
    margin: 1em 0 0 0;
    padding: 0;
}
li.ulchildlink,.ulchildlink a {
    margin: 0;
    font-weight: normal;
}
article table {
    display: block;
    border-spacing: 0;
    background-color: #ffffff;
    margin: 1em 0 0 0;
    padding: 0;
    border: none;
}
article table tr {
    border-left: solid 1px #616265;
    vertical-align: top;
}
article table thead tr {
    background-color: #B5B7B4;
    border-top: solid 1px #616265;
    height: 40px;
}
article table tr td {
    background-color: #ffffff;
    border-spacing: 0px;
    border-top: none;
    border-right: solid 1px #616265;
    border-bottom: solid 1px #616265;
    border-left: none;
    margin: 0;
    padding: 0px 10px 10px 10px;
    vertical-align: top;
}
article table thead tr th {
    background-color: #B5B7B4;
    border-spacing: 0;
    border-top: none;
    border-right: solid 1px #616265;
    border-bottom: solid 1px #616265;
    border-left: none;
    height: 40px;
    margin: 0px;
    padding: 5px 10px 5px 10px;
    vertical-align: middle;
}
article table[border="0"] tr,article table[border="0"] th,article table[border="0"] tr td {
    border: none;
    padding: 0px 5px 0px 5px;
}
article table[border="0"] tr td:last-child {
    border: none;
    padding: 0px 5px 0px 5px;
}
article table th p,article table th p.p {
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
article table td p,article table td .p {
    font-size: 0.9em;
    font-weight: normal;
    font-style: normal;
    margin-left: 0;
    text-align: left;
}
article table th[align="center"] p,article table th[align="center"] p.p,article table td[align="center"] p,article table td[align="center"] .p {
    text-align: center;
}
article table th[align="left"] p,article table th[align="left"] p.p,article table td[align="left"] p,article table td[align="left"] .p {
    text-align: left;
}
article table th[align="right"] p,article table th[align="right"] p.p,article table td[align="right"] p,article table td[align="right"] .p {
    text-align: right;
}
article table td[align="center"] ol p,article table td[align="center"] ol .p,article table td[align="left"] ol p,article table td[align="left"] ol .p,article table td[align="right"] ol p,article table td[align="right"] ol .p,article table td[align="center"] ul p,article table td[align="center"] ul .p,article table td[align="left"] ul p,article table td[align="left"] ul .p,article table td[align="right"] ul p,article table td[align="right"] ul .p {
    text-align: left;
}
article table .tablecap {
    display: block;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    font-size: 1.1em;
    margin: 15px 0;
}
article table caption {
    min-height: 30px;
    text-align: left;
}
article ol > li > span {
    color: #000;
    font-weight: normal;
    font-family: verdana, sans-serif;
    list-style: decimal;
    line-height: 150%;
}
article li > ol > li > span {
    color: #000;
    font-weight: normal;
    font-family: verdana, sans-serif;
    list-style: lower-alpha;
    line-height: 150%;
}
.related-links {
    display: block;
    border-top: solid 1px #d7d7d7;
    margin: 2em 0 40px 20px;
    padding: 10px 10px 10px 0px;
    width: 600px;
}
.related-links:before {
    display: block;
    color: #9c9c9c;
    content: "Related topics: ";
    font-family: Arial, sans-serif;
    font-size: 1.15em;
    font-style: normal;
    font-weight: normal;
    margin: 0 0 5px 0px;
}
.nested1 .related-links {
    display: none;
}
.familylinks,.parentlink,.relinfo,.relconcepts,.relref,.reltasks {
    display: block;
    margin: 0;
    padding: 0
;
}
.relconcepts,.relref,.reltasks {
    margin-top: -18px
;
}
.familylinks strong,.parentlink strong,.relinfo strong,.relconcepts strong,.relref strong,.reltasks strong {
    display: none;
}
.related-links a {
    display: block;
    margin: 10px 0px 0px 0px;
}
li.link.ulchildlink {
    display: block;
    margin: 0;
}
li.link.ulchildlink a {
    margin: 0;
}
.ullinks {
    margin: 10px 0 0 0;
    padding: 0;
}
.cmd img,.p img,p img,.cmd .image,.p .image,p .image,span img,span .image {
    display: inline;
    margin: -3px 0;
    height: 1.2em;
    width: auto;
}
.current .i18n,.search .i18n,a.toc .i18n {
    font-size: .95em;
}
.toc p {
    padding: 5px 10px;
    font-size: .95em;
}
.toc a {
    font-size: .95em;
}
.search .results .i18n {
    display: block;
    padding: 5px 10px;
    font-size: .95em;
    border-bottom: 1px solid #B5B7B4;
}
.search .results p {
    display: block;
    padding: 5px 10px;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
    font-size: .95em;
    border-bottom: 1px solid #B5B7B4;
}
.result {
    padding: 5px 10px 0 20px;
    font-size: .95em;
}
.score {
    font-size: .65em;
    color: #9c9c9c;
}
.score:before {
    content: "[";
    color: #9c9c9c;
}
.score:after {
    content: "]";
    color: #9c9c9c;
}
.toc a,.toc a:visited,.result a,.result a:visited {
    color: #666;
    text-decoration: none;
    width: 100%
;
}
.toc a:hover,.toc a:focus,.result a:hover,.result a:focus {
    color: #EF8200;
    text-decoration: underline;
    width: 100%
;
}
footer .col1 {
    padding-left: 10px
;
}
footer .col2 {
    padding-left: 20px
;
}
footer .col4 {
    text-align: right;
    padding-right: 20px;
    width: 250px;
}
.fig > .image {
    display: block;
    height: auto;
    width: auto;
}
#center>article>p,#center>article>img {
    margin-left: 20px;
    max-width: 800px;
}
.glossary ul {
    margin: 30px 0;
    padding: 0;
    border-top: 1px solid #7E696D;
}
.glossary li {
    margin: 0;
    padding: 0;
}
.glossary a {
    display: block;
    font-size: .9em;
    margin: 6px 0 4px 0;
    padding: 3px 20px;
}
.glossary a,.glossary a:visited {
    color: #666;
    text-decoration: normal;
    width: 100%;
}
.glossary a:hover,.glossary a:focus {
    color: #EF8200;
    text-decoration: underline;
    width: 100%;
}
.fig .desc {
    display: block;
    margin: 20px 0 0 0;
    padding: 0 0 -20px 0;
    counter-reset: figlist;
    font-size: .8em;
    -webkit-columns: 350px 2;
    -moz-columns: 350px 2;
    columns: 350px 2;
    -webkit-column-rule: 1px outset #7E696D;
    -moz-column-rule: 1px outset #7E696D;
    column-rule: 1px outset #7E696D;
}
.desc ol {
    margin: 0;
    padding: 0;
}
.desc ol > li {
    display: inline-block;
    color: #293E6B;
    font-weight: bold;
    font-family: Arial, sans-serif;
    list-style: decimal;
    margin: 0 0 10px 30px;
    padding: 0;
    width: 325px;
}
.desc ol > li::before {
    margin: 0 0 -10px -20px;
    counter-increment: figlist;
    content: counter(figlist) ". ";
}
.desc ol > li > p:first-of-type {
    margin-top: -1.2em;
    padding-top: 0px;
}
.template {
    display: none;
}
.to-writer {
    display: none;
}
.tscause {
    margin: 0px 0px 0px 20px;
}
.tsaction {
    margin: 0px 0px 20px 20px;
}
.tscause:before,.tsaction:before {
    display: block;
    width: 800px;
    color: #5F6488;
    font-size: 1.1em;
    font-weight: bold;
    font-style: normal;
    font-family: Arial, sans-serif;
    margin: 20px 0px -5px -20px;
}
.tscause:before {
    content: "Possible cause";
}
.tsaction:before {
    content: "Action";
}
.fig {
    color: #FFFFFF;
}
.fig > span {
    display: block;
    color: #000000;
    margin: 20px 0 0 0;
    font-weight: bold;
}
.draft-comment {
    display: block;
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
}
.cmd .draft-comment,p .draft-comment {
    display: inline;
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
}
.context,.prereq {
    display: block;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
.step p {
    font-family: Verdana, sans-serif;
    font-size: 1em;
}
.to-writer,.template {
    display: none;
}
#legal article h2,#legal  article h3,#legal  article h4 {
    color: #000;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    font-family: Arial, sans-serif;
    margin: 1.25em 20px 0px 20px;
}
#copyright,#legal article p.copyright {
    display: block;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: .85em;
    font-style: normal;
    font-weight: normal;
    margin: 0 20px 0 20px;
}
#pubno,#legal article p.partnumber {
    display: block;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: .85em;
    font-style: normal;
    font-weight: normal;
    margin: 0 20px 0 20px;
}
#legal article p {
    color: #000;
    font-size: .8em;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, sans-serif;
    margin: .5em 20px 0px 0px;
}
article .video-container {
    display: block;
    margin: 20px 0 20px 0;
}
article .fnlink {
    display: inline;
    font-size: .75em;
    font-style: normal;
    font-family: Arial, sans-serif;
}
article .fn {
    display: block;
    clear: both;
    max-width: 800px;
    line-height: 1.25em;
    text-indent: -8px;
    font-size: .75em;
    font-style: normal;
    font-family: Arial, sans-serif;
    margin: .75em 30px 0 30px;
    padding: 0;
}
body {
    font-family: Verdana, Calibri, Helvetica, "Droid Sans", "DejaVu Sans", Verdana, sans-serif;
}
header {
    background-color: #293E6B;
}
header h1 {
    display: block;
    height: 60px;
    text-align: center;
    font-size: 1em;
    color: #fff;
    margin-top: 8px;
    margin-left: 140px;
    margin-right: 325px;
    font-weight: bold;
    line-height: 2.5em;
}
#leftbar {
    border-right: 1px solid #B5B7B4;
    background: #fff;
}
#breadcrumbs {
    font-size: 0.75em;
}
#breadcrumbs .arrowString {
    margin-right: 0px;
    margin-left: 0px;
}
#breadcrumbs a:hover,#breadcrumbs a:active {
    color: #EF8200;
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    margin-top: 0;
}
#searchform {
    *
	position: absolute;
    top: 15px;
    right: 20px
;
}
#searchform input {
    font-size: 95%;
}
#searchform input.search {
    width: 15em;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#searchform input.submit {
    width: 56px;
    height: 27px;
    background: transparent url(search.png);
    border: 0;
    overflow: hidden;
}
#searchform input.submit:hover {
    backg-round-image: url(search-hover.png);
}
::-webkit-input-placeholder {
    font-style: italic;
    padding-left: 10px;
}
input:-moz-placeholder {
    font-style: italic;
    padding-left: 10px;
}
#leftbar .tabs {
    background-color: #B5B7B4;
}
#leftbar .tabs li {
    width: 30%;
}
#leftbar .tabs a,#leftbar .tabs a:visited {
    color: #666;
}
#leftbar .tabs a {
    text-decoration: none;
    font-size: 0.85em;
    font-weight: bold;
    display: block;
    height: 25px;
    margin: 0 10px;
    line-height: 2em;
}
#leftbar .tabs a span {
    font-size: .95em;
}
#leftbar .tabs a.current {
    background: #fff;
    font-weight: normal;
    color: #000;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.toc > nav {
    top: 30px;
    border-top: 1px solid #fff;
}
.toc a,.toc a:visited {
    color: #666;
    text-decoration: none;
    width: 100%;
}
.toc a:hover,.toc a:focus {
    color: #EF8200;
    text-decoration: underline;
    width: 100%;
}
.toc div.loader {
    margin-top: 2em;
    text-align: center;
}
#topbuttons a {
    width: 20px;
    height: 20px;
}
#button-forward {
    background-image: url(icon_ArrowRight.png);
    margin-right: 4px;
}
#button-back {
    background-image: url(icon_ArrowLeft.png);
    margin-right: 4px;
}
#button-print {
    background-image: url(icon_PrintTopic.png);
}
a#button-print-all {
    background-image: url(icon_PrintAll.png);
    display: none;
}
a#button-hide-navigation {
    background-image: url(icon_HideNav.png);
    margin-right: 4px;
}
a#button-pdflink {
    background-image: url(icon_PDF.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 4px;
}
a#button-email {
    background-image: url(icon_Email.png);
    background-repeat: no-repeat;
    margin-right: 4px;
    display: inline-block;
}
body.ajax a#button-print-all {
    display: inline-block;
}
.hide-nav #center {
    left: 5px !important;
}
footer {
    border-top: 1px solid #B5B7B4;
    font-size: 0.6em;
}
footer p {
    margin: 4px 0;
    color: #333;
    font-size: 0.9em;
}
footer table {
    width: 100%;
    margin-top: 5px;
}
footer .col1 {
    padding-left: 10px;
}
footer .col2 {
    padding-left: 20px
	;
}
footer .col2,footer .col3a {
    font-weight: bold;
}
footer .col3 {
    text-align: center;
}
footer .col3b {
    color: #fff;
}
footer .col4 {
    text-align: right;
    padding-right: 20px;
}
footer .col4 a,footer .col4 a:visited {
    color: #333;
}
footer a,footer a:visited,footer .col4 a,footer .col4 a:visited {
    color: #333;
    text-decoration: none;
}
footer a:hover,footer a:focus,footer .col4 a:hover,footer .col4 a:focus {
    color: #e38a22;
    text-decoration: underline;
}
.figcap {
    display: block;
}
.related-links {
    margin-left: 20px;
}
.related-links,.familylinks,.parentlink {
    margin-top: 1em;
    padding: 0;
}
.familylinks,.parentlink,.relconcepts {
    display: block;
    margin-top: 1em;
    padding: 0;
}
.related-links {
    margin: 4em 0 0 20px;
}
.related-links  a {
    display: block;
    margin: 10px 0px 0px 40px;
    width: 100%;
}
.uicontrol {
    font-weight: bold;
}
li.ulchildlink,.ulchildlink a {
    margin: 0;
    font-weight: normal;
}
td .image,td img {
    display: block;
    margin: 1em 0 0 0;
}
p > .image {
    display: inline;
}
.related-links {
    display: block;
    float: left;
    border-top: solid 1px #d7d7d7;
    margin: 2em 0 40px 20px;
    padding: 10px 10px 10px 0px;
    width: 300px;
}
.related-links:before {
    display: block;
    color: #9c9c9c;
    content: "Related topics:";
    font-family: Arial, sans-serif;
    font-size: 1.15em;
    font-style: normal;
    font-weight: normal;
    margin: 0 0 5px 0px;
}
.nested1 .related-links {
    display: none;
}
.familylinks,.parentlink,.relinfo,.relconcepts,.relref,.reltasks {
    display: block;
    margin: 0;
    padding: 0
;
}
.relconcepts,.relref,.reltasks {
    margin-top: -18px
;
}
.familylinks strong,.parentlink strong,.relinfo strong,.relconcepts strong,.relref strong,.reltasks strong {
    display: none;
}
.related-links  a {
    display: block;
    margin: 10px 0px 0px 0px;
}
li.link.ulchildlink {
    display: block;
    margin: 0;
}
li.link.ulchildlink a {
    margin: 0;
}
.ullinks {
    margin: 10px 0 0 0;
    padding: 0;
}
.p img,p img {
    margin-bottom: -3px;
}
.toc p {
    padding: 5px 10px;
    font-size: .95em;
}
.toc a {
    font-size: .95em;
}
@media (max-width: 600px)  {
    #breadcrumbs,#topbuttons,#dragger {
        display: none;
    }
    article {
        position: static;
    }
    #leftbar {
        width: auto;
    }
    header {
        height: 68px;
    }
}
#leftbar > nav {
    top: 30px;
    bottom: 0px;
}
.search .results p,.search .results span {
    display: block;
    padding: 5px 10px;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
    font-size: .95em;
    border-bottom: 1px solid #fff;
}
.search .results p .searchtotal,.search .results span .searchtotal {
    display: none;
}
.search .results p.searchedfor {
    display: none;
}
.search .results span.score {
    display: none;
}
.search .results > ul {
    padding-left: 20px;
    padding-top: 5px;
}
.search .results > ul > li {
    margin-bottom: 7px;
}
.search .results > ul > li > a {
    font-size: .95em;
    color: #666;
}
.search .results > ul > li > a:hover {
    color: #EF8200;
    text-decoration: underline;
}
.searchtitle {
    display: block;
    padding: 5px 10px;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
    font-size: .95em;
    border-bottom: 1px solid #B5B7B4;
}
.toc a,.toc a:visited,.result a,.result a:visited {
    color: #666;
    text-decoration: normal;
    width: 100%
;
}
.toc a:hover,.toc a:focus,.result a:hover,.result a:focus {
    color: #EF8200;
    text-decoration: underline;
    width: 100%
;
}
.fig .image {
    display: block;
    height: auto;
    width: auto;
}
.fig .p img,.fig p img,.fig .p .image,.fig p .image {
    display: inline;
    margin: -1px 0;
    height: 1em;
    width: auto;
}
#center>article>p,#center>article>img {
    margin-left: 20px;
    max-width: 800px;
}
.ui-dialog-titlebar {
    background: #005390;
}
.ui-widget-overlay {
    background: #666;
    opacity: .7;
}
#leftbar > nav.toc {
    margin-top: 5px;
}
#leftbar > nav.toc::before {
    content: "Select a topic to display:";
    font-size: .95em;
    margin-left: 10px;
    color: #666;
}
#leftbar > nav.toc > nav {
    top: 25px;
}
#dragger {
    bottom: 45px;
}
.to-writer,.template {
    display: none;
}
.corplogo {
    float: right;
    margin: 4px 0 0 0;
}
.logo {
    display: block;
    height: 48px;
    float: left;
    margin: 5px 0 0 10px;
}
