<ul class="nav nav-tabs">
    <li class="active">
        <a href="#variants" data-toggle="tab">{{t 'variant.label.variantTable'}}</a>
    </li>
    <li>
        <a href="#gene" data-toggle="tab">{{t 'variant.label.variantImpact'}}</a>
    </li>
    <li>
        <a href="#fusion" data-toggle="tab">{{t 'variant.label.geneFusions}}</a>
    </li>
    <li>
        <a href="#annotation" data-toggle="tab">{{t 'variant.label.cnvHeatMap'}}</a>
    </li>
    <li class="pull-right">
        <div id="selected-analyses-container">
            <a id="selected-analyses" href="javascript:void(0)">{{t 'variant.label.selectedAnalyses'}}</a>
        </div>
    </li>
</ul>