<div class="row-fluid">
    <p class="context-help">{{t 'cnvbaseline.baselineType.help'}}</p>
</div>
<div class="row-fluid">
    <div class="span6"><h5>{{t 'cnvbaseline.baselineType.label'}}:</h5></div>
    <div class="span6"><h5>{{t 'cnvbaseline.regions.label'}}:</h5></div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="cnvBaselineTypes">
            <!-- app/templates/cnvbaseline/baselineType.html -->
        </div>
    </div>  
    <div class="span6">
        <div class="targetRegionsFile">
            <!-- app/templates/cnvbaseline/customTargetRegion.html -->
        </div>
    </div>
</div>