<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="layout.html :: headerFragment"></head>
<body>

    <div class="wrapper">
        <div class="header" th:substituteby="layout.html :: bodyHeaderFragment"></div>

        <div class="sub-nav" th:substituteby="layout.html :: bodySubNavFragment"></div>

        <div class="main">
            <div id="auditLogDetails" class="main-content clearfix">
                <!-- analysis-audit-log-details.html -->
            </div>
        </div>
        
        <footer th:substituteby="layout.html::bodyFooter"></footer>
    </div>

    <script th:substituteby="layout.html::irUploaderModal"></script>

    <script type="text/javascript" json:stringify="javascript">
        /*<![CDATA[*/
        requireInit(["views/analysis/analysisAuditLogPageView"], function(View) {
            var view = new View({
                el: '#auditLogDetails',
                analysisAuditLog: /*[[${analysisAuditLog}]]*/ {}
            });
            view.render();
        });
        /*]]>*/
    </script>
</body>
</html>