<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="layout.html :: headerFragment">    
</head>
<body>

    <div class="wrapper">
        <div class="header"
            th:substituteby="layout.html :: bodyHeaderFragment">
        </div>

        <div class="sub-nav" th:substituteby="layout.html :: bodySubNavFragment"></div>

        <div class="main">
            <div class="main-content clearfix">
                <!-- templates/analysis/analysis-overview-page.html -->
                <div class="span9">
                    <div id="container-fusion"></div>
                </div>
                <div style="float: right" class="span3">
                    <div id="container-fusion-control"></div>
                </div>
            </div>
        </div>

        <footer th:substituteBy="layout.html :: bodyFooter"></footer>
    </div>

    <script th:substituteby="layout.html::irHeaderModals"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var analysisIds = /*[[${analysisIds}]]*/;
        requireInit([ "fusion/fusion" ], function(plugin) {
            var model = new plugin.Plugin();
            model.setAnalysisIds(analysisIds.split(','));
            var view = new plugin.PluginView({model : model });
        });
        /*]]>*/
    </script>
</body>


</html>
