<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="layout.html :: headerFragment"></head>
<body>
<div class="wrapper">
	<div class="header" th:substituteby="layout.html :: bodyHeaderFragment"></div>

    <div class="sub-nav" th:substituteby="layout.html :: bodySubNavFragment"></div>

	<div class="main">
		<div class="main-content clearfix">
            <!-- templates/sample/sample-audit-log-page.html -->
		</div>
	</div>

    <footer class="footer" th:substituteby="layout.html::bodyFooter"></footer>
</div>

<script th:substituteby="layout.html::irHeaderModals"></script>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    requireInit(['models/specimen',
                 'views/samples/sampleAuditLogPageView'],
            function(Specimen,
                     SampleAuditLogPageView) {
        var specimen = new Specimen({
            id: /*[[${specimenId}]]*/ undefined
        });
        var view = new SampleAuditLogPageView({
            el: '.main-content',
            model: specimen
        });
        view.render();

        specimen.fetch();
    });
/*]]>*/
</script>

</body>
</html>
