<div class="modal-scroll">
	<form id="addPlanForm" class="form-horizontal">
		<div class="control-group">
			<label class="control-label">{{t 'sample.planARun.planRunName'}}: <span class="text-error requires-asterisk">*</span></label>
			<div class="controls">
				<input type="text" maxlength="50" id="planARunName">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">{{t 'assay.name'}}: </label>
			<div class="controls">
				<label id="planRunAssay">{{assay}}</label>
			</div>
		</div>
		<div class="control-group" id="reportTemplatesSection">
			<label class="control-label">{{t 'sample.planARun.selectReportTemplate'}}: </label>
			<div class="controls">
				{{#if reports}}
					{{#ifCond reports.length '>' '0'}}
					<select id="reportTemplates" name="reportTemplates">
						{{#each reports}}
							{{#if id}}
							<option value="{{id}}">{{value}}</option>
							{{/if}}
						{{/each}}
					</select>
					{{else}}
					{{t 'planRun.noReportTemplates.partOne'}}<br/>
					 {{t 'planRun.noReportTemplates.please'}}
					<a href="/ir/secure/reportTemplate?forAssay={{assayId}}">
						{{t 'planRun.noReportTemplates.clickHere'}}
					</a>
					 {{t 'planRun.noReportTemplates.partTwo'}}
					{{/ifCond}}
				{{else}}
					{{t 'planRun.noReportTemplates.partOne'}}<br/>
					 {{t 'planRun.noReportTemplates.please'}}
					<a href="/ir/secure/reportTemplate?forAssay={{assayId}}">
						{{t 'planRun.noReportTemplates.clickHere'}}
					</a>
					 {{t 'planRun.noReportTemplates.partTwo'}}
				{{/if}}
			</div>

		</div>
		<div class="control-group">
			<label class="control-label">{{t 'sample.planARun.addNote'}}: </label>
			<div class="controls">
				<textarea maxlength="256" id="planARunNote" cols="4" rows="3"></textarea>
			</div>
		</div>
	</form>
	<div class="form-small-text" id="controlsView">

	</div>
	<div class="form-small-text">
		<label>{{t 'planned.grid.noOfSampleLibraries'}}: <b id="libraryCount">0</b></label>
	</div>
	<div id="plan-run-libraryGrid">
	</div>
</div>
<br/>
<div class="pull-left"><a href="javascript:void(0)" id="removePlanLibrary" class="no-follow"><i class="icon-trash"></i> {{t 'planned.runs.remove'}}</a></div>
<div class="pull-right"><a href="javascript:void(0)" id="addPlanLibrary"><i class="icon-plus-sign"></i> {{t 'planned.runs.add'}}</a></div>
<br/>
