<div class="row-fluid">
	<div class="span12">
		<table style="width: 100%" class="form-horizontal">
			<tr style="height: 32px">
				<td valign="middle" class="summary-item" width="130">{{t 'install.template.runplantemplate'}}:</td>
				<td>{{installTemplate.externalName}}</td>
			</tr>
			<tr>
				<td valign="middle" class="summary-item" width="130">{{t 'planned.grid.plannedRunName'}}:</td>
				<td><input id="planName" maxlength="50" type="text" required="required"/><span class="text-error requires-asterisk">*</span></td>
			</tr>
			<tr>
				<td valign="middle" class="summary-item" width="130">{{t 'install.template.fieldengineer'}}:</td>
				<td><input id="fieldEngineerName" maxlength="50" type="text" required="required"/><span class="text-error requires-asterisk">*</span></td>
			</tr>
		</table>
	</div>
</div>
