<div class="container-fluid">
<div class="row-fluid">
	<ul id="assay-presets-tabs" class="nav nav-tabs custom-margin no-border">
		<li><a data-tab-id="0" href="#annotationSet" class="active" data-toggle="tab">{{t 'assay.summary.annotation'}}</a></li>
		{{#if showFilterChainTab}}
			<li><a data-tab-id="1" href="#filterChain" data-toggle="tab">{{t 'workflow.filter.chains.label'}}</a></li>
		{{/if}}
		<li><a data-tab-id="2" id="cnv" href="#baseline" data-toggle="tab">{{t 'workflow.presets.baseline.label'}}</a></li>
		<li><a data-tab-id="3" href="#finalReportTemplate" data-toggle="tab">{{t 'presets.reportTemplate.header'}}</a></li>
		{{#if showClassificationTab}}
			<li><a data-tab-id="4" href="#classificationSet" data-toggle="tab">{{t 'assay.presets.classification.sets.header'}}</a></li>
		{{/if}}	
	</ul>
</div>

<div class="row-fluid">
	<div class="tab-content config-content custom-border">
		<div class="tab-pane active" id="annotationSet"></div>
		<div class="tab-pane" id="filterChain"></div>
		<div class="tab-pane" id="baseline"></div>
		<div class="tab-pane" id="finalReportTemplate"></div>
		<div class="tab-pane" id="classificationSet"></div>
	</div>
</div>
<div class="modal hide fade modal-overflow" id="preset-dialog" tabindex="-1" role="dialog"></div>
<div class="modal hide fade modal-overflow" id="viewAnnotationSetsDetails" tabindex="-1" role="dialog"></div>
<div class="modal hide fade modal-overflow" id="viewFilterChainDetails" tabindex="-1" role="dialog"></div>
</div>