<div>
	<table cellpadding="5">
		<tr>
			<td valign="top" width="130"><strong>{{t 'assay.presets.report.template'}} :</strong></td>
	      <td>
				<div id="filter-selection" class="btn-group selectBox">
					<div id="filter" class="btn-group selectBox">
					    <select id="selectedReport" class="icons">
					        {{#each reportTemplates}}
					        <option value="{{id}}">{{value}}</option>
					        {{/each}}
					    </select>
					</div>
				</div>
			</td>
			</tr>
			</table>
</div>
<!-- <div class="form-horizontal" id="reporttempalteForm">
	
</div>
 -->