<div class="container-fluid">
    <div class="row-fluid">
		<div id="success-banner"></div>
    </div>
    <div class="row-fluid">
        <div class="span8">
	    	<form id="regionFileUpload" action="/ir/secure/api/assay/upload/file" method="POST" enctype="multipart/form-data">
			    <div class="row-fluid">
			        <div>
			            <div class="fileupload fileupload-new" data-provides="fileupload">
			                <div class="input-append">
			                    <div class="uneditable-input span3">
			                        <i class="icon-file fileupload-exists"></i>
			                        <span class="fileupload-preview"></span>
			                    </div>
			                    <span class="btn btn-file">
			                        <span class="fileupload-new">{{t 'upload.selectFile'}}</span>
			                        <span class="fileupload-exists">{{t 'upload.change'}}</span>
			                        <input type="file" name="fileData" id="file-data-input">
			                    </span>
			                    <a href="#" id="removeFile" class="btn fileupload-exists" data-dismiss="fileupload">{{t 'upload.remove'}}</a>
			                    &nbsp;&nbsp;
			                    <a id="upload" style="margin-left: 10px;" class="btn fileupload-exists"
			                           href="#">{{t 'user.role.ROLE_IMPORT'}}</a>
			                    &nbsp;&nbsp;
			                 </div>
			                 <div style="margin-top:-8px;color:#B1B1AC">({{t 'specimens.upload.instructions.formats'}}: .zip, .deb)</div>
			                 <!--div id="progressBar" class="progress hide" style="width : 400px">
			                            <div class="bar" style="width: 0%;"></div>
			                 </div-->
			                 <div><span class="upload-message"></span></div>
			                 <div id="validationProgressMessage" class="hide">{{t 'specimenFile.upload.validating'}}</div>
			                 <div id="validationTimeout" class="hide">{{t 'specimenFile.upload.validation.timeout'}}</div>
			            </div>
			        </div>
			    </div>
			    <div class="fileupload-spinner" id="spinner" style="display:none; position:relative;">
	                <table>
		                <tr>
			                <td class="icon-loader"></td>
			                <td>{{t 'loading.wait'}}</td>
		                </tr>
	                </table>
                </div>
			</form>
    	</div>
    	<div class="row-fluid" id="not-zip">
			<div id="path" class="span11"></div>
    	</div>
    	<!-- <div class="span4">
		     <ul>{{t 'import.assay.help'}} 
		    </ul>
		</div> -->
    </div>
</div>
